    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Alfred</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" id="task_li">
              <a class="nav-link" href="/tasks/">Tasks</a>
            </li>
            <li class="nav-item" id="shopping_li">
              <a class="nav-link" href="/shopping/">Shopping Lists</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/accounts/logout">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
