<!doctype html>
<html lang="en">
  {% include "header.html" %}
  <body style="padding-top: 70px;">
    {% include "nav.html" %}
    <main role="main" class="container">
      <div id="task_list">
        {% if tasks_list %}
         <ul class="list-group">
        {% for task in tasks_list %}
          <li class="list-group-item" >
            {{ task.content }}
            <button type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-pencil"/>
              Edit
            </button>
            <button type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-trash"/>
              Delete
            </button>
          </li>
        {% endfor %}
         </ul>
        {% else %}
        <p>No tasks available.</p>
        {% endif %}
      </div>
      <span class="glyphicon glyphicon-trash"/>
    </main>
  </body>
</html>
