<!doctype html>
<html lang="en">
{% include "head.html" %}
<body style="padding-top: 70px;">
{% include "header.html" %}
<main role="main" class="container">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Tasks</h1>
            <p class="lead text-muted">Keep track of tasks that you need to complete.</p>
        </div>
    </section>
    <div class="container">
        <table id="task_table" class="table table-striped">
            <thead>
            <tr>
                <th>Task</th>
                <th>Due Date</th>
                <th>Complete?</th>
                <th>Actions</th>
            </tr>
            </thead>

            {% if tasks_list %}
            <tbody>
            {% for task in tasks_list %}
            <tr id="task_{{ task.id }}">
                <td id="task_content_{{ task.id }}">{{ task.content }}</td>
                <td id="task_due_date_{{ task.id }}">{{ task.fmt_due_date }}</td>
                <td id="task_completed_{{ task.id }}">{{ task.fmt_completed }}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-outline-secondary" id="edit_button_{{ task.id }}"
                            data-toggle="modal" data-target="#edit_modal_{{ task.id }}"><i
                            class="fas fa-pencil-alt"></i></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" id="complete_button_{{ task.id }}"><i
                            class="fas fa-check"></i></button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" id="delete_button_{{ task.id }}"
                            data-toggle="modal" data-target="#delete_modal_{{ task.id }}"><i
                            class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
            {% else %}
            <p>No tasks available.</p>
            {% endif %}
        </table>
        <button type="button" class="btn btn-primary my-2" id="add_task_button" data-toggle="modal"
                data-target="#add_content_modal">Add Task
        </button>
    </div>
</main>
{% include "footer.html" %}
<script>
  var tasks = [];
  {% for task in tasks_list %}
    tasks.push( new Task({{ task.id }}, "{{ task.content }}", "{{ task.created_date }}", "{{ task.fmt_due_date }}", "{{ task.fmt_completed }}", "{{ task.deleted }}" ));
  {% endfor %}
  $("#task_li").addClass("active");
</script>
</body>
{% for task in tasks_list %}
<div class="modal fade" id="edit_modal_{{ task.id }}" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit task</h4>
            </div>
            <div class="modal-body">
                Content:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" id="content_input_{{ task.id }}"/><br><br>
                Due Date:&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" class="datepicker" id="due_date_input_{{ task.id }}"/><br><br>
                Completed:
                <div class="form-group">
                    <select id="completed_input_{{ task.id }}">
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="edit_{{ task.id }}" class="btn btn-default" data-dismiss="modal">Update
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="delete_modal_{{ task.id }}" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete?</h4>
            </div>
            <div class="modal-body">
                <h5>Are you sure you want to delete this task?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="delete_{{ task.id }}" data-dismiss="modal">Delete
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{% endfor %}
<div class="modal fade" id="add_content_modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add task</h4>
            </div>
            <div class="modal-body">
                Content:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" id="new_content"/><br><br>
                Due Date:&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" class="datepicker" id="new_due_date"/><br><br>
                Completed:&nbsp;
                <select id="new_completed">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" id="create_new_task" class="btn btn-default" data-dismiss="modal">Create</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>
  $(function(){
    $(".datepicker").datepicker();
  });
  var csrfToken = '{{ csrf_token }}';

</script>
</html>
