<!doctype html>
<html lang="en">
  {% include "head.html" %}
  <body>
    {% include "header.html" %}
    <main role="main" class="container">
	  <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Tasks</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
        </div>
      </section>
    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Task</th>
            <th>Due Date</th>
            <th>Complete?</th>
			<th>Actions</th>
	      </tr>
        </thead>
           
	    {% if tasks_list %}
        <tbody>
        {% for task in tasks_list %} 
          <tr>
            <td>{{ task.content }}</td>
            <td>{{ task.due_date }}</td>
            <td>{{ task.completed }}</td>
			<td>
              <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-pencil-alt"></i></button>
			  <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-check"></i></button>
			  <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-trash-alt"></i></button>
			</td>
          </tr>
        {% endfor %}
        </tbody>
      {% else %}
      <p>No tasks available.</p>
      {% endif %}
	  </table>
	  <a href="#" class="btn btn-primary my-2">Add Task</a>
    </div>
    </main>
	{% include "footer.html" %}
  </body>
</html>
