<!doctype html>
<html lang="en">
{% include "head.html" %}
<body style="padding-top: 70px;">
{% include "header.html" %}
<main role="main" class="container">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Shopping List</h1>
            <p class="lead text-muted">Keep track of the items you need to buy.</p>
        </div>
    </section>
    <div class="container">
        {% if store_list %}
        {% for store in store_list %}
        <h2 class="text-center">{{ store.sname }}</h2>
        <table id="product_table" class="table table-striped">
            <thead>
            <tr>
                <th class="purchase_header">Purchased?</th>
                <th class="product_header">Product</th>
                <th class="quantity_header">Quantity</th>
                <th class="delete_header">Delete?</th>
            </tr>
            </thead>
            <tbody>
            {% if product_list %}
            {% for product in product_list %}
            {% if product.store.sname == store.sname and not product.completed %}
            <tr id="product_{{ product.id }}">
                <td id="product_purchased_{{ product.id }}">
                    <button type="button" class="btn btn-sm btn-outline-secondary" id="purchased_button_{{ product.id }}"><i
                            class="fas fa-check"></i></button>
                </td>
                <td id="product_name_{{ product.id }}">{{ product.pname }}</td>
                <td id="product_quantity_{{ product.id }}">{{ product.quantity }}</td>
                <td id="product_delete_{{ product.id }}"><button type="button" class="btn btn-sm btn-outline-secondary" id="deleted_button_{{ product.id }}"><i
                            class="fas fa-trash-alt"></i></button></td>
            </tr>
            {% endif %}
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
        <button type="button" class="btn btn-primary my-2" id="add_product_button_{{ store.id }}" data-toggle="modal"
                data-target="#add_product_modal">Add product
        </button>
        <button type="button" class="btn btn-primary my-2" id="clear_list_{{ store.id }}" data-toggle="modal"
                data-target="#clear_list_modal">Clear Completed
        </button>
        {% endfor %}
        {% endif %}
    </div>
    <br>
    <button type="button" class="btn btn-primary my-2" id="add_store" data-toggle="modal"
                data-target="#add_store_modal">Add Store
    </button>
</main>
{% include "shopping_footer.html" %}
</body>
<script>
  var csrfToken = '{{ csrf_token }}';
  var productList = [];
  var storeList = [];
  $("#shopping_li").addClass("active");
  {% for product in product_list %}
  productList.push(new Product({{ product.id }}, "{{ product.pname }}", {{ product.quantity }}, {{ product.fmt_purchased }}, {{ product.fmt_completed }}, "{{ product.store.sname }}"));
  {% endfor %}
  {% for store in store_list %}
  storeList.push(new Store({{ store.id }}, "{{ store.sname }}"));
  {% endfor %}
</script>

<div class="modal fade" id="add_store_modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Store</h4>
            </div>
            <div id="store_name_div">
                Store Name:
                <input type="text" id="store_name_input"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="add_store_button" data-dismiss="modal">Add Store
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="add_product_modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Product</h4>
            </div>
            <div class="modal-body">
                Product Name:
                <div id="name_div">
                    <input type="text" id="product_name"/><br><br>
                </div>
                Quantity:
                <div id="quantity_div">
                    <select id="product_quantity">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select><br><br>
                </div>
                Store:
                <div id="store_div">
                    <select id="store_name">
                    {% for store in store_list %}
                        <option value="{{ store.id }}">{{ store.sname }}</option>
                    {% endfor %}
                    </select><br><br>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="add_product" class="btn btn-default" data-dismiss="modal">Add Item
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="clear_list_modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="clear_modal_title"></h4>
            </div>
            <div class="modal-body">
                <h5>Are you sure you want to clear this list?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="clear_list_button" data-dismiss="modal">Clear
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>

</html>
